form input[type=text],input[type=email],input[type=tel],input[type=password]{
    width: 500px;
    background-color: #f0f0eb;
    border:1px solid #c7c7c7 ;
    border-radius: 1em;
    padding: 3%;
    margin: 1em 0;
}
form{
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;
}
.forma{
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 35%;
}
button{
    margin-left: 45px;
    float: left; 
    display: block;
    width: 200px;
    height: 50px;
    background-color: #ff5b32;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: #f0f0eb;
}